[Unit]
Description=Actioncam autostart service

[Service]
User=pi
Group=pi
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/actioncam
StandardOutput=journal

[Install]
WantedBy=multi-user.target
Alias=actioncam.service

