[Unit]
Description=Actioncam autostart service

[Service]
ExecStart=/usr/bin/actioncam
StandardOutput=journal

[Install]
WantedBy=multi-user.target
Alias=actioncam.service

